---
import Layout from "../layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";

const languages = ["typescript", "javascript"];
const frontend = [
	"html5",
	"css",
	"tailwind",
	"react",
	"solid",
	"qwik",
	"next",
	"astro",
	"svelte",
	"preact",
];
const backend = ["node", "express", "nest", "aws"];
const databases = [
	"mysql",
	"postgres",
	"mongodb",
	"dynamodb",
	"firebase",
	"planetscale",
	"prisma",
	"kysely",
];
const images = [
	{
		img: "/web/1.jpg",
	},
	{
		img: "/web/2.jpg",
	},
	{
		img: "/web/3.jpg",
	},
	{
		img: "/web/4.jpg",
	},
	{
		img: "/web/5.jpg",
	},
	{
		img: "/web/6.jpg",
		link: "https://addabit.com",
	},
	{
		img: "/web/7.jpg",
	},
	{
		img: "/web/8.jpg",
		link: "https://xchange.axelarigato.com",
	},
	{
		img: "/web/9.jpg",
		link: "https://netaporter.reflaunt.com",
	},
	{
		img: "/web/10.jpg",
		link: "https://orcscribe.com",
	},
].reverse();
---

<Layout page="web">
	<div class="flex flex-row text-white">
		<div class="sm:w-1/2 px-5 sm:pl-20">
			<h1
				class="text-4xl sm:text-6xl text-white uppercase font-montserrat font-bold"
			>
				Loet Jansen van Rensburg <span
					class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 text-transparent bg-clip-text"
					>fullstack software engineer with 10 years of experience</span
				>
			</h1>
			<h2 class="text-lg">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="w-4 h-4 inline text-pink-500"
				>
					<path
						fill-rule="evenodd"
						d="M2.25 6a3 3 0 013-3h13.5a3 3 0 013 3v12a3 3 0 01-3 3H5.25a3 3 0 01-3-3V6zm3.97.97a.75.75 0 011.06 0l2.25 2.25a.75.75 0 010 1.06l-2.25 2.25a.75.75 0 01-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06zm4.28 4.28a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z"
						clip-rule="evenodd"></path>
				</svg>

				{languages.join(" . ")}
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="w-4 h-4 inline text-pink-500"
				>
					<path
						fill-rule="evenodd"
						d="M2.25 5.25a3 3 0 013-3h13.5a3 3 0 013 3V15a3 3 0 01-3 3h-3v.257c0 .597.237 1.17.659 1.591l.621.622a.75.75 0 01-.53 1.28h-9a.75.75 0 01-.53-1.28l.621-.622a2.25 2.25 0 00.659-1.59V18h-3a3 3 0 01-3-3V5.25zm1.5 0v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5z"
						clip-rule="evenodd"></path>
				</svg>

				{frontend.join(" . ")}
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="w-4 h-4 inline text-pink-500"
				>
					<path
						d="M5.507 4.048A3 3 0 017.785 3h8.43a3 3 0 012.278 1.048l1.722 2.008A4.533 4.533 0 0019.5 6h-15c-.243 0-.482.02-.715.056l1.722-2.008z"
					></path>
					<path
						fill-rule="evenodd"
						d="M1.5 10.5a3 3 0 013-3h15a3 3 0 110 6h-15a3 3 0 01-3-3zm15 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm2.25.75a.75.75 0 100-1.5.75.75 0 000 1.5zM4.5 15a3 3 0 100 6h15a3 3 0 100-6h-15zm11.25 3.75a.75.75 0 100-1.5.75.75 0 000 1.5zM19.5 18a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
						clip-rule="evenodd"></path>
				</svg>

				{backend.join(" . ")}
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="w-4 h-4 inline text-pink-500"
				>
					<path
						d="M21 6.375c0 2.692-4.03 4.875-9 4.875S3 9.067 3 6.375 7.03 1.5 12 1.5s9 2.183 9 4.875z"
					></path>
					<path
						d="M12 12.75c2.685 0 5.19-.586 7.078-1.609a8.283 8.283 0 001.897-1.384c.016.121.025.244.025.368C21 12.817 16.97 15 12 15s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.285 8.285 0 001.897 1.384C6.809 12.164 9.315 12.75 12 12.75z"
					></path>
					<path
						d="M12 16.5c2.685 0 5.19-.586 7.078-1.609a8.282 8.282 0 001.897-1.384c.016.121.025.244.025.368 0 2.692-4.03 4.875-9 4.875s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.284 8.284 0 001.897 1.384C6.809 15.914 9.315 16.5 12 16.5z"
					></path>
					<path
						d="M12 20.25c2.685 0 5.19-.586 7.078-1.609a8.282 8.282 0 001.897-1.384c.016.121.025.244.025.368 0 2.692-4.03 4.875-9 4.875s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.284 8.284 0 001.897 1.384C6.809 19.664 9.315 20.25 12 20.25z"
					></path>
				</svg>

				{databases.join(" . ")}
			</h2>
		</div>
		<div
			class="w-full lg:w-1/2 absolute top-0 right-0 overflow-scroll h-screen"
		>
			{
				images.map((m) =>
					m.link ? (
						<a href={m.link} target="_blank">
							<Picture
								src={m.img}
								alt="web"
								class="opacity-30 hover:opacity-100 w-full transition-opacity duration-500 object-fill"
								widths={[384, 512, 658]}
								aspectRatio="16:9"
							/>
						</a>
					) : (
						<Picture
							src={m.img}
							alt="web"
							class="opacity-30 hover:opacity-100 w-full transition-opacity duration-500 object-fill"
							widths={[384, 512, 658]}
							aspectRatio="16:9"
						/>
					)
				)
			}
		</div>
	</div>
</Layout>
